{% extends 'base.html' %}
{% block content %}

<h1>Welcome to STANDS</h1><br/>
<p><h5>
    Hello! Welcome to STANDS! So happy that you are here! I bet you are wondering what this app is about and how to use it. <br/><br/>
    It is quite simple and loads of fun! STANDS is a place to showcase all your music equipment to friends and family! <br/>
    Great way to keep track of what you have for any given gig or set! <br/><br/>
    If you are interested sign up or login and enjoy the app! Let's have some fun! Music is awesome!
</h5></p>

{% endblock %}