{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>STANDS APP</title>
</head>
<body>
    <header class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <ul>
              <li><a href="/" class="left brand-logo">&nbsp;&nbsp;STANDS</a></li>
            </ul>
            <ul class="right">
                <li><a href="{% url 'stands_create' %}">Add to Stands</a></li>
                <li><a href="{% url 'index' %}">Your Stands</a></li>
                <li><a href="#">Pedalboard Planner</a></li>
            </ul>
          </div>
        </nav>
      </header>
      <main class="container">
        {% block content %}
        {% endblock %}
      </main>
      <footer class="page-footer">
        <div class="right">All Rights Reserved, &copy; 2020 STANDS &nbsp;</div>
      </footer>
</body>
</html>